*{
    font-family: 'Comic Neue', cursive;
}

.calculator__keys{
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(5, 100px);
    grid-column-gap:1px;
    grid-row-gap:1px; 
    grid-auto-rows: 100px;
    background:black;
/* Take margin top out */
    margin-top:5em;
}

button{
    /* border-radius:50%; */
    color:black;
    background:pink;
    outline:none;
}

.calculator-g{
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin:2em;
}

.key--equal{
    grid-column: span 2;
}

.previousOperand{
    color: rgba(100, 100, 100, 0.60);
    font-size:2rem;
}

.currentOperand{
    color: rgba(0, 0, 0, 1.0);
    font-size:4rem;
}

.calculator__display{
    display:flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: space-around;
    
}