*{
    font-family:"Montserrat";
}

body{
    background-image: linear-gradient(to right top, #777777, #898989, #9b9b9b, #aeaeae, #c1c1c1, #c2c2c2, #c3c3c3, #c4c4c4, #b3b3b3, #a2a2a2, #919191, #818181);
    height:90vh;
    background-repeat: none;
}

.box{
    align-items: center;
    text-align:center;
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin: 2em auto 2em auto;
    width: 400px;
    display: block;
    padding: 1em 5em 1em 5em;
    letter-spacing: 2px;
    overflow: hidden;
    white-space: nowrap; 
}

.hello-box{
    margin-top:100px;
    align-items: center;
    text-align:center;
    top:50%;
    right:50%;
}

.form-box{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding-top: 10px;
}

.names-box, .extra-functions{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-top:10px;
}

.preset-names{
    padding: 5px 20px 5px 20px;
    border-radius:5px;
    background-color: transparent;
    border: 2px solid black;
    margin-right:5px;
    outline:none;
    cursor: pointer;
}

.layer-2{
    padding: 5px 22px 5px 22px;
    margin-left:1px;
    margin-right:3px;
    border-radius:5px;
    background-color: rgba(57, 255, 20,0.3);   
    color: black;
    border: 2px solid white;
    outline:none;
    cursor: pointer;
    font-weight:800;
}

.animate{
    animation-duration: 3s;
    animation-name: slidein;
}
      
@keyframes slidein {
    from {
        margin-left: 150px;
        width: 400%;
    }  
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.hello-btn, .submit-btn{
    background-color:transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-weight:600;
}

.hello-btn{
    font-size:22px;
    padding: 1px 10px 1px 10px; 
}

.hello-btn:hover, .submit-btn:hover{
    background-color:white;
    color:black;
    cursor: pointer;
}

.layer-2:hover{
    background-color:#39ff14
}

.preset-names:hover{
    background-color: white;
}

.input-text{
    background-color:transparent;
    color:white;
    border: 2px solid white;
}

.input-text::placeholder{
    color:white;
}

.display-text{
    font-family: 'Electrolize', sans-serif;
    font-size:30px;
    color:#39ff14;
    font-weight:600;
    letter-spacing: 1.5px;
}