.block{
    display:flex;
    flex-flow:row;
    justify-items: flex-start;
    align-items: center;
    max-width: 500px;
    margin:3em 30px;
    padding:20px;
    border:1px solid lightgray;
}

.block span{
    color:#B53C36;
}

.block-img{
    border-radius:100%;
    max-width:100px;
    max-height:100px;
    margin-right:20px;
}

.block h4{
    color:black;
    margin-bottom:0.5em;
}

.testimonials{
    margin-top:2em;
}

/* .my-project{
    border: 3px solid black;

} */

.img{
    border: 1px solid black;
    border-radius: 50%;
    max-height: 80px;
    max-width: 80px;
    margin-right: 20px;
}

#language{
    padding-left: 150px;
    font-style: italic;
}

#id{
    color:gray;
    font-size:12px;
}