body{
    background-image: linear-gradient(to right, #fdfcfb, #e2d1c3);
    color:black;
    font-family: 'Montserrat';
}

#logo, h1, p{
    display:block;
    text-align:center;
}

#logo {
    margin: 1em auto 1em auto;
}

p{
    margin: -1.5em auto 1em auto;
    font-size: 13px;
}

#survey-form{
  /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    font-size:14px;
  /* Form outline */
    padding: 1em;
    border: 1px solid rgba(52, 73, 94, 0.5);
    border-radius: 0.5em;
    background-color: rgba(52, 73, 94, .2);
}

ul{
    padding: 0;
    margin: 0;
}

.survey-form-question{
    list-style:none;
    margin-top:0.5em;
}

.survey-label {
    display: inline-block;
    width: 120px;
    text-align: right;
}

.maincourse-label {
    display: inline-block;
    width: 250px;
    text-align: right;
}

#dropdown {
    display:inline-block;
    vertical-align: top;
    margin: 0.5em 15px;
    padding: 0 15px 0 15px;
}

#radio, #check{
    display:inline-block;
    vertical-align:top;
    margin-left: 15px;
}

.input, textarea {
    font: 1em, sans-serif;
    width: 330px;
    box-sizing: border-box;
    border: 1px, solid#999;
}

textarea, #feedback-label{
    width: 450px !important;
    margin-left:10px;
}

.input:focus, textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    height: 5em;
}

fieldset{
    border:1px solid #BC4213;
    margin: 5px;
  }

fieldset:focus-within {
    background-color: rgba(52, 73, 94, .1);
  }

legend{
    font-weight: bold;
    color: #BC4213;
  }

input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #bc4213;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type="checkbox"]{
    outline:2px solid white;
    outline-offset: -2px;
}

.survey-option, #feedback-label{
    font-size:13px;
}


#submit-button{
    display: flex; 
    justify-content: center;
    margin-top: 1em;

}

#submit{
    background: #d1d3d1; 
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #e2d1c3;
    text-shadow:none;
    font-size:15px;
    padding:0.25em 0.5em 0.25em 0.5em;
}
    
#submit:hover {
    background: #BC4213;
    color: white;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    text-shadow:none;
}

#survey-note{
    font-style:italic;
    font-size:10px;
}